<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +82 10 1234 1234</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i>cleaning@naver.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index"><img src="img/cleaning.jpg" alt="" /></a>
						</div>
						<div class="btn-group pull-right">
							<div class="btn-group">
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="status"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="login"><i class="fa fa-lock"></i> Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	</header><!--/header-->

	<section>
		<div class="container">
			<div class="row">			
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">청소 신청 목록</h2>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="img/cleaning.jpg" alt="" />
										<h2>200000 Point</h2>
										<p>adress : 어쩌고 저쩌고 군</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>20000 Point</h2><!--포인트-->
											<p>집이 조금 더럽습니다</p> <!--내용 나오는곳-->
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="img/cleaning.jpg" alt="" />
										<h2>200000 Point</h2>
										<p>adress : 어쩌고 저쩌고 군</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>20000 Point</h2><!--포인트-->
											<p>집이 조금 더럽습니다</p> <!--내용 나오는곳-->
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="img/cleaning.jpg" alt="" />
										<h2>200000 Point</h2>
										<p>adress : 어쩌고 저쩌고 군</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>20000 Point</h2><!--포인트-->
											<p>집이 조금 더럽습니다</p> <!--내용 나오는곳-->
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="img/cleaning.jpg" alt="" />
										<h2>200000 Point</h2>
										<p>adress : 어쩌고 저쩌고 군</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>20000 Point</h2><!--포인트-->
											<p>집이 조금 더럽습니다</p> <!--내용 나오는곳-->
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="img/cleaning.jpg" alt="" />
										<h2>200000 Point</h2>
										<p>adress : 어쩌고 저쩌고 군</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>20000 Point</h2><!--포인트-->
											<p>집이 조금 더럽습니다</p> <!--내용 나오는곳-->
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
									<div class="productinfo text-center">
										<img src="img/cleaning.jpg" alt="" />
										<h2>200000 Point</h2>
										<p>adress : 어쩌고 저쩌고 군</p>
										<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
									</div>
									<div class="product-overlay">
										<div class="overlay-content">
											<h2>20000 Point</h2><!--포인트-->
											<p>집이 조금 더럽습니다</p> <!--내용 나오는곳-->
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>수주하기</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	
	<footer id="footer"><!--Footer-->
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					Shared by <i class="fa fa-love"></i><a href="https://github.com/sparata-origin/cleaning-origin">Git Hub</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
	
    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>