<script src="https://kit.fontawesome.com/d0a3eca6a4.js" crossorigin="anonymous"></script>
<link href="/css/header.css" rel="stylesheet">
<div class="header_top"><!--header_top-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="contactinfo">
          <ul class="nav nav-pills">
            <li><a href="#"><i class="fa fa-phone"></i> +82 10 1234 1234</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i>cleaning@naver.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="social-icons pull-right">
          <ul class="nav navbar-nav">
            <li><a href="https://github.com/sparata-origin/cleaning-origin" target='_blank'><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.notion.so/737d278418f541779cfe9986fae539c9" target='_blank'><i class="fa-solid fa-people-group"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!--/header_top-->

<div class="header-middle"><!--header-middle-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="logo pull-left" style="height: 50px;">
          <h1 class="sixth">청소의 원조</h1>
        </div>
        <div class="btn-group pull-right">
          <div class="btn-group">
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="shop-menu pull-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="/"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li>
              <a href="/business/list"><i class="fa-solid fa-building"></i> Business List</a>
            </li>
            <li><a href="/status"><i class="fa fa-user"></i> Account</a></li>
            <li>
              <a href="/chat"><i class="fa-solid fa-comments"></i> Live Chat</a>
            </li>
            <li><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!--/header-middle-->