<div class="header_top"><!--header_top-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="contactinfo">
          <ul class="nav nav-pills">
            <li><a href="#"><i class="fa fa-phone"></i> +82 10 1234 1234</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i>cleaning@naver.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="social-icons pull-right">
          <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!--/header_top-->

<div class="header-middle"><!--header-middle-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="logo pull-left">
          <a href="index"><img src="img/cleaning.jpg" alt="" /></a>
        </div>
        <div class="btn-group pull-right">
          <div class="btn-group">
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="shop-menu pull-right">
          <ul class="nav navbar-nav">
            <li><a href="/status"><i class="fa fa-user"></i> Account</a></li>
            <li><a href="/login"><i class="fa fa-lock" onclick="logout()"></i> Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!--/header-middle-->
<script src="js/logout.js"></script>
